* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

body {
  font-family: "Segoe UI" !important;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--text-primary);
}
body a {
  color: #2179CA;
}

h1,
.h1 {
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  line-height: 1.3;
}

h2,
.h2 {
  font-size: clamp(1.375rem, 1.3rem + 0.375vw, 1.75rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.25rem, 1.225rem + 0.125vw, 1.375rem);
  line-height: 1.3;
}

h4,
.h4 {
  font-size: clamp(1.1875rem, 1.161rem + 0.1325vw, 1.32rem);
}

h5,
.h5 {
  font-size: clamp(1.15625rem, 1.1375rem + 0.09375vw, 1.25rem);
  line-height: 1.6;
}

h6,
.h6 {
  font-size: 18px;
  line-height: 1.8;
}

.p {
  font-size: 16px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-400 {
  font-weight: 400;
}

.btn-basic {
  padding: 12px 24px;
  width: 162px;
  height: 56px;
  background-color: transparent;
  border: 2px solid #8ebd3b;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8ebd3b;
}

.btn-basic:hover {
  background-color: #8ebd3b;
  border: 2px solid #8ebd3b;
  color: var(--bs-white);
}

.btn-fill {
  padding: 12px 24px;
  background-color: #8ebd3b;
  border: 2px solid #8ebd3b;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--bs-white);
}

.btn-fill:hover {
  background-color: transparent;
  border: 2px solid #8ebd3b;
  color: #8ebd3b;
}

.btn-hero {
  padding: 12px 24px;
  background-color: #8ebd3b;
  border: 2px solid #8ebd3b;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: var(--bs-white);
}

.btn-hero:hover {
  border: 2px solid var(--bs-white);
  background-color: var(--bs-white);
  color: #8ebd3b;
}

.btn-white {
  padding: 12px 24px;
  color: #8ebd3b;
  border: 2px solid var(--bs-white);
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  background-color: var(--bs-white);
}

.btn-white:hover {
  background-color: #8ebd3b;
  border: 2px solid #8ebd3b;
  color: var(--bs-white);
}

.nav-btn {
  padding: 16px 24px;
  border: 1px solid #8ebd3b;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8ebd3b;
}

.nav-btn:hover {
  background-color: #8ebd3b;
  border: 2px solid #8ebd3b;
  color: var(--bs-white);
}

.btn--large {
  height: 56px;
  max-width: 162px;
  width: 100%;
}

section {
  padding: clamp(2.8125rem, 2.625rem + 0.9375vw, 3.75rem) 0;
}
section h1 {
  margin-bottom: 28px;
}

@media all and (min-width: 992px) {
  .btn--large {
    max-width: 182px;
    height: 60px;
  }
}
.btn--medium {
  height: 56px;
  max-width: 92px;
  width: 100%;
}

a {
  text-decoration: none;
}

.py-90 {
  padding: 90px 0;
}

@media all and (min-width: 768px) {
  .py-90 {
    padding: 80px 0;
  }
}
@media all and (min-width: 1200px) {
  .py-90 {
    padding: 120px 0;
  }
}
.py-120 {
  padding: 120px 0px;
}

@media all and (min-width: 768px) {
  .py-120 {
    padding: 100px 0;
  }
}
@media all and (min-width: 1200px) {
  .py-120 {
    padding: 140px 0;
  }
}/*# sourceMappingURL=global.css.map */