#header {
  a {
    font-size: 14px;

    @media all and (min-width: 1400) {
      font-size: 16px;
    }
  }

  .top-header {
    height: 80px;
    padding: 12px 0;

    .navbar {
      column-gap: 15px;

      @media all and (min-width: 1440px) {
        column-gap: 26px;
      }

      li.menu {
        &:last-of-type {
          border: 1px solid var(--afu-secondary);
          padding: 10px 24px;
          border-radius: 8px;
        }

        a {
          font-weight: 600;
        }

        &.login {
          transition: 0.3s all ease;

          &:hover {
            background: var(--afu-secondary);

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .bottom-header {
    ul.navbar {
      justify-content: center;

      li.menu {
        &:not(:last-of-type) {
          margin-right: 25px;

          @media all and (min-width: 1400px) {
            margin-right: 32px;
          }
        }

        a {
          padding-block: 26px;
          font-weight: 700;
          display: flex;
          align-items: center;
          line-height: 15px;
          transition: 0.2s all linear;

          &::after {
            border: 0;
            background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="7" height="12" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 10l-5 5l-5-5"%2F%3E%3C%2Fsvg%3E') no-repeat center/cover;
            transition: 0.3s all linear;
            transform: rotate(0deg);
            height: 12px;
            width: 17px;
          }

          &.show {
            &::after {
              transform: rotate(-90deg);
            }
          }
        }

        &:hover {
          a::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: white;
            height: 2px;
            width: 100%;
            border-radius: 6px 6px 0px 0px;
          }

          ul {
            display: block;
          }
        }

        ul.dropdown-menu {
          padding: 0;
          border-radius: 0;
          border: 0;

          li {
            a.dropdown-item {
              padding: 12px;
              font-weight: 500;
              font-size: 16px;
              color: #727272;

              &:hover,
              &:focus {
                background: var(--white);
                color: var(--afu-primary);
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  .mobile-nav {
    .top-nav {
      margin-bottom: 52px;

      li {
        line-height: 15px;
        border-bottom: 1px solid #f3f3f3;
        padding: 16px;

        a {
          font-weight: 700;
          font-size: 16px;
          color: #666666;
        }
      }

      .accordion-item {
        border-color: #f3f3f3;

        .accordion-button {
          color: #666666;
          font-weight: 700;
          padding: 16px;

          &:not(.collapsed),
          &:focus {
            background-color: #fff;
            box-shadow: none;
          }
        }

        .accordion-body {
          padding: 0;

          li {
            padding: 0;
            border-bottom: 0;

            a {
              padding: 16px 32px;
              font-weight: 400;

              &:hover {
                background: transparent;
                color: var(--afu-primary);
              }
            }
          }
        }
      }
    }

    .bottom-nav {
      padding: 0 16px;

      @media all and (max-width: 400px) {

        .top-content,
        .bottom-content {
          display: block !important;
        }
      }

      .top-content {
        gap: 30px;
      }

      .bottom-content {
        gap: 30px;
      }

      li {
        a {
          text-decoration: underline;
          font-weight: 600;
          transition: 0.3s all ease;
        }
      }
    }
  }
}

.bar {
  height: 1px;
  width: 10px;
  background-color: black;
  display: block;
  margin-bottom: 2px;
  border-radius: 10px;
}