#header a {
  font-size: 14px;
}
@media all and (min-width: 1400) {
  #header a {
    font-size: 16px;
  }
}
#header .top-header {
  height: 80px;
  padding: 12px 0;
}
#header .top-header .navbar {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media all and (min-width: 1440px) {
  #header .top-header .navbar {
    -moz-column-gap: 26px;
         column-gap: 26px;
  }
}
#header .top-header .navbar li.menu:last-of-type {
  border: 1px solid var(--afu-secondary);
  padding: 10px 24px;
  border-radius: 8px;
}
#header .top-header .navbar li.menu a {
  font-weight: 600;
}
#header .top-header .navbar li.menu.login {
  transition: 0.3s all ease;
}
#header .top-header .navbar li.menu.login:hover {
  background: var(--afu-secondary);
}
#header .top-header .navbar li.menu.login:hover a {
  color: #fff;
}
#header .bottom-header ul.navbar {
  justify-content: center;
}
#header .bottom-header ul.navbar li.menu:not(:last-of-type) {
  margin-right: 25px;
}
@media all and (min-width: 1400px) {
  #header .bottom-header ul.navbar li.menu:not(:last-of-type) {
    margin-right: 32px;
  }
}
#header .bottom-header ul.navbar li.menu a {
  padding-block: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 15px;
  transition: 0.2s all linear;
}
#header .bottom-header ul.navbar li.menu a::after {
  border: 0;
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="7" height="12" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 10l-5 5l-5-5"%2F%3E%3C%2Fsvg%3E') no-repeat center/cover;
  transition: 0.3s all linear;
  transform: rotate(0deg);
  height: 12px;
  width: 17px;
}
#header .bottom-header ul.navbar li.menu a.show::after {
  transform: rotate(-90deg);
}
#header .bottom-header ul.navbar li.menu:hover a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: white;
  height: 2px;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}
#header .bottom-header ul.navbar li.menu:hover ul {
  display: block;
}
#header .bottom-header ul.navbar li.menu ul.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: 0;
}
#header .bottom-header ul.navbar li.menu ul.dropdown-menu li a.dropdown-item {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}
#header .bottom-header ul.navbar li.menu ul.dropdown-menu li a.dropdown-item:hover, #header .bottom-header ul.navbar li.menu ul.dropdown-menu li a.dropdown-item:focus {
  background: var(--white);
  color: var(--afu-primary);
  font-weight: 500;
}
#header .mobile-nav .top-nav {
  margin-bottom: 52px;
}
#header .mobile-nav .top-nav li {
  line-height: 15px;
  border-bottom: 1px solid #f3f3f3;
  padding: 16px;
}
#header .mobile-nav .top-nav li a {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}
#header .mobile-nav .top-nav .accordion-item {
  border-color: #f3f3f3;
}
#header .mobile-nav .top-nav .accordion-item .accordion-button {
  color: #666666;
  font-weight: 700;
  padding: 16px;
}
#header .mobile-nav .top-nav .accordion-item .accordion-button:not(.collapsed), #header .mobile-nav .top-nav .accordion-item .accordion-button:focus {
  background-color: #fff;
  box-shadow: none;
}
#header .mobile-nav .top-nav .accordion-item .accordion-body {
  padding: 0;
}
#header .mobile-nav .top-nav .accordion-item .accordion-body li {
  padding: 0;
  border-bottom: 0;
}
#header .mobile-nav .top-nav .accordion-item .accordion-body li a {
  padding: 16px 32px;
  font-weight: 400;
}
#header .mobile-nav .top-nav .accordion-item .accordion-body li a:hover {
  background: transparent;
  color: var(--afu-primary);
}
#header .mobile-nav .bottom-nav {
  padding: 0 16px;
}
@media all and (max-width: 400px) {
  #header .mobile-nav .bottom-nav .top-content,
  #header .mobile-nav .bottom-nav .bottom-content {
    display: block !important;
  }
}
#header .mobile-nav .bottom-nav .top-content {
  gap: 30px;
}
#header .mobile-nav .bottom-nav .bottom-content {
  gap: 30px;
}
#header .mobile-nav .bottom-nav li a {
  text-decoration: underline;
  font-weight: 600;
  transition: 0.3s all ease;
}

.bar {
  height: 1px;
  width: 10px;
  background-color: black;
  display: block;
  margin-bottom: 2px;
  border-radius: 10px;
}/*# sourceMappingURL=nav.css.map */