@import url(/css/nav.css);
.view-all {
  text-decoration: underline;
}

.grey-subtitle {
  margin-bottom: 36px;
}

.member-img {
  margin-bottom: 12px;
}

.mb-60 {
  margin-bottom: 60px;
}

.row-images {
  row-gap: 36px;
}

.ul-blue li a {
  color: #2179ca;
  font-weight: 600;
  font-size: 24px;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}
header .top-header {
  background-color: var(---bs-white);
}

.banner-section .hero-section.hero-slider {
  overflow: hidden;
  position: relative;
}
.banner-section .hero-section.hero-slider .slide-one {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/bg.png) no-repeat center/cover;
  height: 100vh;
  width: 100%;
}
.banner-section .hero-section.hero-slider .slide-two {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/foa-home.png) no-repeat center/cover;
  height: 100vh;
  width: 100%;
}
.banner-section .hero-section-two {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/bg.png) no-repeat center/cover;
  height: 100vh;
  width: 100%;
}
.banner-section .hero-section-light {
  background: url(/assets/images/bg.png) no-repeat center/cover;
  height: 100vh;
  width: 100%;
}
.banner-section .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section h3 {
  color: var(--bs-white);
}

.hero-section-secondary {
  background: url(../assets/images/foa-secondary-hero.png) no-repeat center/cover;
  height: 60vh;
}
.hero-section-secondary .container {
  height: 100%;
}

.news-section a {
  text-decoration: underline !important;
}
.news-section p {
  line-height: 135.2%;
}
.news-section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

section.gallery a {
  text-decoration: underline !important;
}
section.gallery .gallery-slider {
  margin-bottom: 50px;
}
section.gallery .gallery-slider img {
  width: 100%;
}
section.gallery .gallery-slider .slick-dots li button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--afu-secondary);
  opacity: 1;
}
section.gallery .gallery-slider .slick-dots li button::before {
  display: none;
}
section.gallery .gallery-slider .slick-dots li.slick-active button {
  width: 24px;
  transition: width 0.2s linear;
  color: var(--afu-secondary);
  border-radius: 12px;
}
section.gallery .gallery-slider .slick-dots .item {
  border-radius: 12px;
  overflow: hidden;
  margin: 0 10px;
}
section.gallery .gallery-slider .slick-dots .item img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
section.gallery .gallery-slider .slick-dots .item p {
  margin: 0;
}

.leaders-section img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.leaders-section .leader-slider .slick-slide {
  margin: 0 20px;
}
.leaders-section .leader-slider .slick-dots li button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--afu-secondary);
  opacity: 1;
}
.leaders-section .leader-slider .slick-dots li button::before {
  display: none;
}
.leaders-section .leader-slider .slick-dots li.slick-active button {
  width: 24px;
  transition: width 0.2s linear;
  color: var(--afu-secondary);
  border-radius: 12px;
}
@media only screen and (max-width: 752px) {
  .leaders-section .leader-slider img {
    width: 100% !important;
  }
}

.contact-section iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .contact-section iframe {
    height: 500px;
  }
}
.contact-section input {
  border: 1px solid #c6c6c6;
  background: transparent;
}
.contact-section .form-select {
  border: 1px solid #c6c6c6;
  background: transparent;
}

.footer-section {
  padding-top: 74px;
  padding-bottom: 30px;
}
.footer-section a {
  color: var(--lightGrey);
  font-weight: 600;
  margin-bottom: 12px;
}
.footer-section p {
  color: var(--lightGrey);
}
.footer-section .row-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}
.footer-section .row-footer img {
  width: 405px;
}
@media only screen and (max-width: 525px) {
  .footer-section .row-footer img {
    width: 100%;
  }
}
.footer-section .lower-footer {
  margin-top: 14px;
}

.footer-section-foa {
  padding-top: 74px;
  padding-bottom: 30px;
}
.footer-section-foa a {
  color: var(--foaFooter-text);
  font-weight: 600;
  margin-bottom: 12px;
}
.footer-section-foa p {
  color: var(--footer-foa-green);
}
.footer-section-foa .row-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}
.footer-section-foa .row-footer img {
  width: 405px;
}
@media only screen and (max-width: 525px) {
  .footer-section-foa .row-footer img {
    width: 100%;
  }
}
.footer-section-foa .lower-footer {
  margin-top: 14px;
}

.notice-section .notice-row {
  border-bottom: 1px solid #7fa835;
}

.notice-two-section .notice-two-row {
  border-bottom: 1px solid rgba(75, 75, 75, 0.2784313725);
}

.notice-two-row {
  border-bottom: 1px solid rgba(75, 75, 75, 0.2784313725);
}

section.message-section .message-slider {
  margin-bottom: 30px;
}
section.message-section .message-slider .slick-slide {
  margin: 0 15px;
}
section.message-section .message-slider .card {
  width: 100%;
  border: 0.153901px solid #868686;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section .message-slider .slick-dots li button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--afu-secondary);
  opacity: 1;
}
section.message-section .message-slider .slick-dots li button::before {
  display: none;
}
section.message-section .message-slider .slick-dots li.slick-active button {
  width: 24px;
  transition: width 0.2s linear;
  color: var(--afu-secondary);
  border-radius: 12px;
}
section.message-section .message-slider .slick-dots .item {
  border-radius: 12px;
  overflow: hidden;
  margin: 0 10px;
}
section.message-section .message-slider .slick-dots .item img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
section.message-section .message-slider .slick-dots .item p {
  margin: 0;
}
section.message-section .message-slider h6 {
  font-size: 14px;
}
section.message-section .message-slider span {
  font-size: 12px;
}

.sidenav-about_section .tab-menu ul {
  margin: 0;
  padding: 0;
}
.sidenav-about_section .tab-menu ul li {
  list-style-type: none;
  width: 100%;
  cursor: pointer;
}
.sidenav-about_section .tab-menu ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #4b4b4b;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #f3f3f3;
}
.sidenav-about_section .tab-menu ul li a:not(:last-of-type) {
  border-bottom: 0;
}
.sidenav-about_section .tab-menu ul li a.active-a {
  color: #fff;
  background-color: var(--afu-secondary);
  width: 100%;
}
.sidenav-about_section .tab-menu ul .accordion-item {
  border: 0;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-button {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--afu-secondary);
  border-radius: 0 !important;
  padding: 1rem 1.7rem;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-button::after {
  position: absolute;
  left: 0;
  transform: rotate(-270deg);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cg id="evaChevronUpFill0"%3E%3Cg id="evaChevronUpFill1"%3E%3Cpath id="evaChevronUpFill2" fill="white" d="M16 14.5a1 1 0 0 1-.71-.29L12 10.9l-3.3 3.18a1 1 0 0 1-1.41 0a1 1 0 0 1 0-1.42l4-3.86a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.42a1 1 0 0 1-.69.28Z"%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  width: 30px;
  height: 30px;
  background-size: 30px;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-button:focus {
  border-color: none;
  box-shadow: 0;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-collapse {
  background: #d4e3b4;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-collapse li a {
  border: none;
  padding: 3px 20px;
}
.sidenav-about_section .tab-menu ul .accordion-item .accordion-collapse li.active-a {
  background-color: none;
  color: var(--afu-secondary);
  width: 100%;
}
.sidenav-about_section .tab {
  display: none;
}
.sidenav-about_section .tab h2 {
  color: rgba(0, 0, 0, 0.7);
}
.sidenav-about_section .tab p {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}
.sidenav-about_section .tab-active {
  display: block;
}

.pagination {
  gap: 0.8rem;
}

.pagination .page-link {
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #9b9b9b;
  border: none;
}

.pagination .page-link:active {
  color: #111;
  background: #d4e3b4;
  border-radius: 50%;
  text-align: center;
}

.pagination .page-link:hover {
  color: #111;
  background: #d4e3b4;
  border-radius: 50%;
  text-align: center;
}

.hero-breadcrumbs {
  padding: 18px 0;
}

.directories-sidenav .nav-pills .nav-link {
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  font-weight: 600;
  display: flex;
  justify-content: start;
  width: 100%;
}
.directories-sidenav .nav-pills .nav-link.active {
  background: var(--afu-secondary);
  color: #fff;
}
.directories-sidenav .nav-pills .nav-link {
  color: var(--black-light);
}
.directories-sidenav .sidenav-ul li {
  list-style-type: disc;
}
.directories-sidenav ul li {
  list-style-type: disc;
}
.directories-sidenav #v-pills-about h1 {
  margin-bottom: 16px;
}
.directories-sidenav .members-list {
  row-gap: 36px;
}

.journal-sidenav .accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.journal-sidenav .accordion .accordion-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.journal-sidenav .accordion .accordion-item:focus {
  outline: 0 !important;
}
.journal-sidenav .accordion-button {
  color: #000;
  border-color: none;
  background: #fff;
  padding: 18px 1.25rem;
}
.journal-sidenav .accordion-body .row > div {
  background: #f5f8fa;
  padding: 24px 12px 24px 12px;
}

.nav-pills .nav-link {
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  font-weight: 600;
  display: flex;
  justify-content: start;
  width: 100%;
}

.nav-pills .nav-link.active {
  background: var(--afu-secondary);
  color: #fff;
}

.nav-pills .nav-link {
  color: var(--black-light);
}

.sidenav-ul li {
  list-style-type: disc !important;
}

#v-pills-about h1 {
  margin-bottom: 16px;
}

.members-list {
  row-gap: 36px;
}

table thead tr th {
  color: var(---white);
  font-weight: 600;
}
table tr th {
  color: var(--table-grey);
  font-weight: 400;
}
table tr td {
  color: var(--table-grey);
  font-weight: 400;
}

.row-contact {
  position: relative;
  flex-direction: row;
}
@media only screen and (max-width: 992px) {
  .row-contact {
    flex-direction: column-reverse;
  }
}
.row-contact::after {
  position: absolute;
  content: "";
  border: 2px solid #045a17;
  height: 501px;
  width: 1200px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .row-contact::after {
    width: 1050px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row-contact::after {
    width: 880px;
  }
}
@media (min-width: 280px) and (max-width: 992px) {
  .row-contact::after {
    display: none;
  }
}
.row-contact .bg-lightGreen {
  padding: 118px 65px 118px 124px;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .row-contact .bg-lightGreen {
    padding: 130px 60px 60px 60px;
  }
}
.row-contact .text-wrapper {
  margin-top: -105px;
}
.row-contact h1 {
  background: #f1f6e5;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-top: 8px;
}
.row-contact form {
  z-index: 2;
}

.contact-box {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 300px;
  z-index: 2;
}
.contact-box p {
  color: #fff;
}

.faculty-section .faculty-row {
  row-gap: 80px;
}
.faculty-section .description {
  height: 94px;
  padding: 6px 12px 6px 12px;
  position: absolute;
  transform: translate(-50%, -40px);
  left: 50%;
}
.faculty-section .description h6 {
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}
@media screen and (max-width: 370px) {
  .faculty-section .description {
    height: 110px;
  }
}
.faculty-section There are lots of h6 {
  line-height: 24px;
}
.faculty-section a {
  text-decoration: underline;
}

.bottom-navbar a {
  color: #266c2b;
  font-weight: 600;
}
.bottom-navbar p {
  color: var(--afu-grey);
  margin-bottom: 0;
  font-weight: 600;
}

.main-search .search-bars .form-control {
  border: 1px solid #d4e3b4 !important;
  border-radius: 8px;
  border-right: none !important;
}
.main-search .search-bars .input-group-append {
  border: 1px solid #d4e3b4 !important;
  border-radius: 8px;
  border-left: none !important;
  color: #9b9b9b;
}
.main-search .search-bars i {
  color: #b7d086;
}
@media only screen and (max-width: 1200px) {
  .main-search .search-bars {
    display: none;
  }
}

.search-bars .form-control {
  border: 1px solid #d4e3b4 !important;
  border-radius: 8px;
  border-right: none !important;
}
.search-bars .input-group-append {
  border: 1px solid #d4e3b4 !important;
  border-radius: 8px;
  border-left: none !important;
  color: #9b9b9b;
}
.search-bars i {
  color: #b7d086;
}

.has-megamenu {
  margin-right: 32px;
}
.has-megamenu ul li a {
  font-weight: 400;
}
.has-megamenu ul .nav-link {
  padding: 0px !important;
}
.has-megamenu .mega-row #left-row {
  border-right: 3px solid #f1f6e5;
}

#mega-drop {
  position: fixed;
  z-index: 1000;
  top: 146px;
  width: calc(100% - 60px);
  left: 50%;
  transform: translate(-50%, 0%);
  height: 32rem;
  overflow-y: auto;
  overflow-x: hidden;
}
#mega-drop .col-megamenu ul li {
  margin-bottom: 12px;
}
#mega-drop .nav-slider .slick-dots li button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--afu-secondary);
  opacity: 1;
}
#mega-drop .nav-slider .slick-dots li.slick-active button {
  width: 24px;
  transition: width 0.2s linear;
  color: var(--afu-secondary);
  border-radius: 12px;
}
#mega-drop ul li a {
  color: var(--afu-primary);
  font-size: 16px;
}

.mega-row {
  padding-left: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
  padding-right: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
  padding-top: 30px;
  padding-bottom: 30px;
}

#mega-menus {
  width: calc(100% + 500px);
  left: -40%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-slider span {
  font-size: 14px;
}
.nav-slider i {
  color: #4f7f00;
}

.hero-slider .prev-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 20px;
  color: #fff;
  left: 3%;
  background: rgba(128, 128, 128, 0.7019607843);
  padding: 18px;
  border-radius: 6px;
}
.hero-slider .next-arrow {
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 20px;
  right: 3%;
  top: 50%;
  background: rgba(128, 128, 128, 0.7019607843);
  padding: 18px;
  border-radius: 6px;
}

.nav-slider .prev-arrow {
  position: absolute;
  padding: 16px;
  top: 36%;
  z-index: 1;
  font-size: 14px;
  color: #D4E3B4;
  left: -14%;
  background: transparent;
  border: 1px solid rgb(159, 157, 157);
  border-radius: 6px;
  border-radius: 50%;
}
.nav-slider .next-arrow {
  position: absolute;
  padding: 16px;
  top: 36%;
  z-index: 1;
  font-size: 14px;
  color: #D4E3B4;
  right: -14%;
  background: transparent;
  border: 1px solid rgb(159, 157, 157);
  border-radius: 6px;
  border-radius: 50%;
}

.hero-bottom .card {
  box-shadow: 2px 2px 28px 0px rgba(0, 0, 0, 0.0784313725);
}
.hero-bottom .card::before {
  content: "";
  border-top: 2px solid #9ABC5C;
  width: 100%;
  position: absolute;
  transform: translate(0px, -100px);
}

.news_detail h6 {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */