:root {
  --afu-primary: #045a17;
  --afu-secondary: #8ebd3b;
  ---bs-white: #fff;
  --primaryBlack: #000000;
  --afu-grey: #5e5e5e;
  --afu-charcol: #454545;
  --lightGreen: #f1f6e5;
  --lightGrey: rgba(255, 255, 255, 0.8);
  --darkParrotGreen: #7fa835;
  --bunker: #212326;
  --black-light: #4B4B4B;
  --foaFooter-green: #D4E3B4;
  --foaFooter-text: #234100;
  --footer-foa-green: #65940D;
  --para-black: #393939;
  --darkGreen-header: #4F964F;
  --table-green: #69AA68;
  --table-grey: #4A5568;
  --ul-blue: #2179CA;
  --nav-green: #65940D;
}

.bg-primary {
  background: var(--afu-primary) !important;
}

.bg-secondary {
  background: var(--afu-secondary) !important;
}

.text-lightgrey {
  color: var(--afu-grey);
}

.bg-light {
  background: var(--bg-light);
}

.bg-lightGreen {
  background: var(--lightGreen);
}

.bg-darkParrotGreen {
  background: var(--darkParrotGreen);
}

.text-primaryBlack {
  color: var(--primaryBlack);
}

.text-primary {
  color: var(--afu-primary) !important;
}

.text-parrotGreen {
  color: var(--afu-secondary);
}

.text-white {
  color: var(--bs-white);
}

.text-lightGrey {
  color: var(--lightGrey);
}

.text-bunker {
  color: var(--bunker);
}

.text-lightBlack {
  color: var(--black-light);
}

.bg-lightFooter {
  background: var(--foaFooter-green);
}

.text-lightFooter {
  color: var(--foaFooter-text);
}

.para-black {
  color: var(--para-black);
}

.darkGreen-header {
  color: var(--darkGreen-header);
}

.table-green {
  background: var(--table-green);
}

.ul-blue {
  color: var(--ul-blue);
}

.nav-green {
  background-color: var(--nav-green);
}